<div class="panel panel-primary">
    <div class="panel-heading">DANH SÁCH BÀI ĐĂNG </div>
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 5%">
                    <mfDefaultSorter by="name">ID</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                    <mfDefaultSorter by="tourArticleTitle">TITLE</mfDefaultSorter>
                </th>
                <th style="width: 35%">
                    <mfDefaultSorter by="description">DESCRIPTION</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter by="duration">DURATION</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="createdat">CREATED AT</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter by="viewed">VIEW</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="viewed">POSTED BY</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter>Action</mfDefaultSorter>
                </th>
            </tr>
            <!-- <tr>
                <th colspan="8">
                    Tìm kiếm bài đăng
                    <input class="form-control" [(ngModel)]="filterQuery" />
                </th>
            </tr> -->
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.id}}</td>
                <td>{{item.tourArticleTitle}}</td>
                <td>{{item.description}}</td>
                <td>{{item.duration}}</td>
                <td>{{item.createTime}}</td>
                <td>{{item.postViewNumber}}</td>
                <td>{{item.details.firstName}} {{item.details.lastName}}</td>
                <td>
                    <button class="btn {{item.checkBan ? 'btn-success' : 'btn-danger'}}" (click)="deletePost(item)">
                        <i class="fa fa-pencil-trash-o" aria-hidden="true"></i> {{item.checkBan ? 'PUBLIC' : 'UNPUBLIC'}}
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>