/*===================== COVER =====================*/

.container {
    padding-left: 0;
    padding-right: 0;
}

#cover {
    height: 45%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#cover:before {
    content: "";
    position: absolute;
    width: 100%;
    /* height: 45%; */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#cover .header-topbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    position: relative;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar>.container {
    padding-left: 15px;
}

#cover .header-topbar .container>ul {
    margin-bottom: 0;
    padding: 0;
}

#cover .header-topbar .container>ul>li {
    float: right;
    list-style: none;
}

#cover .header-topbar .container .pull-left>li>a {
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#cover .header-topbar .container .pull-right .dropdown-menu {
    margin: 0;
    min-width: 140px;
    background-color: #fff;
    border: none;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a {
    color: #1d1d1d;
    font-size: 13px;
    padding: 3px 15px;
}

#cover .header-topbar .container .pull-right .dropdown-menu>li>a:hover {
    color: #00bd61;
    background-color: transparent;
}

#cover .header-topbar .container>ul>li>a {
    color: #f0f0f0;
    padding: 10px 15px;
    display: block;
    font-size: 13px;
}

#cover .header-topbar .container ul li a i {
    width: 20px;
    text-align: center;
}

#cover .header-topbar .container>ul>li>a:hover,
#cover .header-topbar .container>ul>li>a:focus {
    color: #00e974;
    text-decoration: none;
}

#cover .header-topbar ul>li>span.rot {
    color: #f0f0f0;
    padding: 9px 0;
    display: block;
}


/*===================== MENU =====================*/

.navbar {
    min-height: 40px;
    margin-bottom: 30px;
    border: 3px solid transparent;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
    padding: 30px;
    font-size: 36px;
    letter-spacing: 2px;
    font-style: italic;
    height: 80px;
}

#mainNav .nav>li>a {
    padding: 30px 15px;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00e974;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-toggle {
        padding: 5px 10px;
        margin-top: 8px;
        margin-right: 30px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border-radius: 4px;
    }
    .dropdown-menu {
        padding: 5px 15px;
    }
    #mainNav .nav>li>a {
        padding: 10px 15px 10px 30px;
    }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #00e974;
    background-color: transparent;
}

.navbar-nav li a i {
    width: 22px;
}

.top-menu li a i {
    width: 14px;
    margin-right: -1px;
}

.main-menu li a i {
    width: 14px;
    margin-right: 5px;
}

.dropdown-menu>li>a:hover {
    color: #00e974;
    background-color: transparent;
}

#mainNav .dropdown-menu {
    margin: 1px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    min-width: 166px;
}

#mainNav .dropdown-menu>li>a {
    color: #f0f0f0;
    font-size: 13px;
    padding: 5px 21px;
}

#mainNav .dropdown-menu>li>a:hover {
    color: #00e974;
}

.modal-body {
    font-size: 15px;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 10%;
    }
}


/*===================== LEFT SIDE =====================*/


/* IMAGE */

.profile-side .profile-img .image {
    width: 100%;
    max-width: 262px;
    height: 262px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: block;
    margin-top: -191px;
    margin-bottom: 30px;
}

.profile-side .profile-img {
    position: relative;
}

.profile-side .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 0 0 4px 4px;
    z-index: 1000;
}

.profile-side .profile-img:hover .overlay {
    height: 27%;
}

.profile-side .text {
    white-space: nowrap;
    color: white;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.profile-side .text a {
    color: #fff;
}

.profile-side .text a:hover {
    text-decoration: none;
}

.profile-side .text a i {
    width: 20px;
    margin-right: 10px;
    font-size: 18px;
}

.profile-side hr {
    border-top: 1px solid #e0e0e0;
}

.profile-side button {
    padding: 3px 10px 5px;
    position: absolute;
    right: 25px;
    top: 10px;
    color: #fff;
    border: transparent;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
}

.profile-side button:hover i:before {
    content: "Cập nhật ảnh đại diện \f030";
}

.profile-side button:hover,
.profile-side button:focus {
    background-color: rgba(0, 0, 0, 0.589);
    outline: transparent;
}


/* LEVEL INFO */

.profile-side .level-info {
    padding: 15px;
    border: 2px solid #00bd61;
    margin-bottom: 30px;
    border-radius: 4px;
}

.profile-side .level-info h5 {
    margin-bottom: 10px;
    font-size: 15px;
}

.profile-side .level-info .progress {
    height: 8px;
    margin-bottom: 0;
}


/* BUTTON CREATE POST */

.profile-side .btn-post a {
    color: #fff;
    font-size: 18px;
    padding: 17px 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.profile-side .btn-post a:hover {
    text-decoration: none;
}

.profile-side .btn-post a i {
    width: 30px;
    text-align: center;
}

.profile-side .btn-post .btn-create-post {
    border: 1px solid #d9534f;
    background-color: #d9534f;
    margin-bottom: 20px;
}

.profile-side .btn-post .btn-create-post:hover {
    border: 1px solid #00bd61;
    background-color: #00bd61;
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.profile-side .btn-post .btn-create-post:focus {
    outline: none;
    text-decoration: none;
}


/* BUTTON CREATE TOUR */

.profile-side .btn-tour a {
    color: #fff;
    font-size: 18px;
    padding: 17px 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.profile-side .btn-tour a:hover {
    text-decoration: none;
}

.profile-side .btn-tour a i {
    width: 30px;
    text-align: center;
}

.profile-side .btn-tour .btn-create-tour {
    border: 1px solid #1167e2;
    background-color: #1167e2;
    margin-bottom: 20px;
}

.profile-side .btn-tour .btn-create-tour:hover {
    border: 1px solid #00bd61;
    background-color: #00bd61;
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.profile-side .btn-tour .btn-create-tour:focus {
    outline: none;
    text-decoration: none;
}


/* OVERVIEW */

.profile-side .btn-overview a {
    color: #fff;
    font-size: 18px;
    padding: 17px 15px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.profile-side .btn-tour a:hover {
    text-decoration: none;
}

.profile-side .btn-tour a i {
    width: 30px;
    text-align: center;
}

.profile-side .btn-tour .btn-overview {
    border: 1px solid #008357;
    background-color: #008357;
    margin-bottom: 20px;
}

.profile-side .btn-tour .btn-overview:hover {
    border: 1px solid #00bd61;
    background-color: #00bd61;
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.profile-side .btn-tour .btn-overview:focus {
    outline: none;
    text-decoration: none;
}


/* PANEL POST */

.panel {
    background-color: #fff;
    border-radius: 4px;
}

.panel-default {
    border-color: #c3c3c3;
}

.panel .panel-heading>i {
    width: 20px;
    margin-right: 5px;
}

.profile-side .panel-success {
    border-color: #00bd61;
}

.profile-side .panel-success>.panel-heading {
    color: #FFF;
    font-size: 16px;
    padding: 8px 15px 11px;
    background-color: #00bd61;
    border-color: #00bd61;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile-side ul {
    padding: 0;
    margin-bottom: 0;
}

.profile-side ul li {
    list-style: none;
}

.profile-side ul>li>a {
    color: #000;
    font-size: 15px;
    padding: 8px 15px 11px;
    display: block;
    border-bottom: 1px solid #00bd61;
    background-color: #fff;
}

.profile-side ul>li>a:hover,
.profile-side ul>li>a:focus {
    text-decoration: none;
    color: #00bd61;
}

.profile-side ul>li>a>i {
    width: 20px;
    margin-right: 5px;
}


/* CALENDAR */

.calendar {
    margin-top: 30px;
}

.calendar>table {
    border-color: transparent;
}

.calendar tbody>tr>td td {
    border: 1px solid #00ca67;
    border-collapse: collapse;
}

.calendar tbody>tr>td td {
    width: 37px;
}

.calendar tbody>tr>td td>table {
    width: 100%;
}

.calendar tbody>tr>td td>table tr td b {
    color: red;
}

.calendar tbody>tr>td td center {
    padding: 3px 5px;
}


/*===================== RIGHT SIDE =====================*/


/* TAB MENU */

.tab-menu {
    padding-top: 30px;
}

.tab-menu .my-profile {
    font-size: 60px;
    margin-top: -150px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.05;
    letter-spacing: 5px;
    padding-bottom: 3px;
}

.tab-menu .my-profile span {
    font-size: 140px;
    margin-right: -10px;
}

.tab-menu .nav>li>a {
    font-size: 15px;
    padding: 10px 15px;
    color: #363636;
}

.tab-menu .nav-tabs {
    margin-bottom: 15px;
    border-bottom: 1px solid #c3c3c3;
}

.tab-menu .nav-tabs>li>a:hover {
    border-color: #c3c3c3;
}

.tab-menu .nav>li>a>i {
    width: 20px;
}

.tab-menu .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #00bd61;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-bottom-color: transparent;
}

.my-profile {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}

@keyframes color-text {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 600px 0px;
    }
    100% {
        background-position: 0px 0px;
    }
}


/* TAB DASHBOARD */

.tab-menu .label-dashboard {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.tab-menu .label-dashboard .mark1 {
    padding-left: 0 !important;
}

.tab-menu .label-dashboard .mark2 {
    padding-right: 0 !important;
}

@media screen and (max-width: 768px) {
    .tab-menu .label-dashboard .mark1 {
        padding-left: 15px !important;
    }
    .tab-menu .label-dashboard .mark2 {
        padding-right: 15px !important;
    }
}

.tab-menu #dashboard .tile {
    position: relative;
    display: block;
    padding: 10px 20px 20px;
    border-radius: 5px;
}

.tab-menu #dashboard .tile .icon-total-post {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.tab-menu #dashboard .tile .icon-total-tour {
    position: absolute;
    right: 13px;
    z-index: 1;
}

.tab-menu #dashboard .tile .icon-total-post i {
    font-size: 120px;
    color: rgba(0, 0, 0, 0.1);
}

.tab-menu #dashboard .tile .icon-total-tour {
    font-size: 110px;
    color: rgba(0, 0, 0, 0.1);
}

.tab-menu #dashboard .tile .number {
    color: #fff;
    font-size: 68px;
    font-weight: bold;
}

.tab-menu #dashboard .tile h3 {
    color: #fff;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.tab-menu #dashboard .tile p {
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.tab-menu #dashboard .tile.total-post {
    background: rgb(93, 206, 0);
}

.tab-menu #dashboard .tile.total-tour {
    background: rgba(206, 0, 122, 0.73);
}

.tab-menu #dashboard hr {
    border-top: 1px solid #e0e0e0;
}

.tab-menu .label-dashboard .panel-default>.panel-heading {
    color: #333;
    background-color: #ececec;
    border-color: #c3c3c3;
    font-size: 16px;
    padding: 9px 15px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 4px 4px 0 0;
}

.tab-menu .label-dashboard .mark1 .save-link ul {
    padding: 0;
    margin: 0;
}

.tab-menu .label-dashboard .mark1 .save-link ul li {
    list-style: none;
}

.tab-menu .label-dashboard .mark1 .save-link ul li a {
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    color: #337ab7;
    border-bottom: 1px solid #ddd;
}

.tab-menu .label-dashboard .mark1 .save-link ul li a:hover {
    color: #337ab7;
    text-decoration: none;
    color: #00bd61;
}

.tab-menu .label-dashboard .mark1 .save-link ul li a i {
    width: 20px;
    margin-right: 5px;
}

.tab-menu .label-dashboard .mark1 .save-link ul li .more {
    border-bottom: none;
    text-align: right;
}


/* TAB ACTIVITIES */

.tab-menu .label-activities {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
}


/* TAB MANAGE POST */

.tab-menu .label-manage-post {
    padding-top: 0;
    padding-bottom: 15px;
}

.tab-menu .label-manage-post hr{
    margin-bottom: 0;
}

.tab-menu .label-manage-post .btn{
    padding: 4px 10px;
    margin-left: 4px;
}

.tab-menu .label-manage-post h3{
    margin-top: 15px;
}

.tab-menu .label-manage-post h3 a{
    color: #00bf62;
}

.tab-menu .label-manage-post h3 a:hover{
    text-decoration: none;
}

.tab-menu .label-manage-post p{
    font-size: 16px;
}

/*===*/

#uploader {
    width: 100%;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #0094ff;
    text-align: center;
    padding: 50px;
    cursor: pointer;
}


/* TAB SAVE LINK */

.tab-menu .label-save-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-menu .label-save-link a{
    color: #00bf62;
    font-weight: bold;
}

.tab-menu .label-save-link a:hover{
    text-decoration: none;
}

.tab-menu .label-save-link .btn{
    padding: 4px 10px;
    margin-left: 4px;
    margin-top: 4px;
}

.label-save-link h3 {
    margin-bottom: 20px;
}

.label-save-link .save-link {
    margin-bottom: 10px;
}

.label-save-link .save-link .icon {
    padding: 8px 12px;
    display: inline-block;
    border-right: 4px solid #00ca67;
}

.label-save-link .save-link .icon i {
    font-size: 20px;
}

.label-save-link .save-link a {
    margin-left: 15px;
    font-size: 15px;
}


/*================== FOOTER ===================*/

footer {
    background-color: #f1f1f1;
    color: #000;
    font-size: 15px;
}

footer .f-social {
    padding: 40px;
    border-bottom: 1px solid #d4d4d4;
}

footer .f-social a {
    padding: 14px 11px 12px;
    height: 50px;
    width: 50px;
    border: none;
    margin: 0 15px;
    border-radius: 50%;
}

footer .f-social a:hover {
    opacity: 0.8;
}

footer .f-social a i {
    font-size: 16px;
    width: 20px;
    text-align: center;
    color: #fff;
}

.btn-gplus {
    background-color: #DD4B39;
}

.btn-fb {
    background-color: #3B5998;
}

.btn-instagram {
    background-color: rgb(190, 30, 164);
}

footer .f-info {
    padding: 13px 0;
    background-color: #d4d4d4;
    font-size: 13px;
}

footer .f-info a {
    color: #000;
    padding: 0 10px;
}

footer .f-info a:hover {
    text-decoration: none;
    color: #00bd61;
}

.clear-fix {
    clear: both;
    content: "";
    display: block;
}