<div id="cover" style="background-image: url(../assets/img/pro.jpg);">
    <div class="header-topbar">
        <div class="container">
            <ul class="pull-left">
                <li>
                    <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                        <i class="fa fa-phone" aria-hidden="true"></i> +024 236 255
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu top-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> English
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> Vietnamese
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="rot">|</span>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Giúp đỡ
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav id="mainNav" class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#" routerLink="/main/home" style="letter-spacing: 2px; color: #00d26c;">TRIPNET</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" routerLink="/main/home" href="javascript:void(0)">
                            <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="">
                            <i class="fa fa-superpowers" aria-hidden="true"></i> Tiện ích
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.userName}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu main-menu">
                            <li>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#modalMyInfo">
                                    <i class="fa fa-user" aria-hidden="true"></i> Thông tin
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="openChangePass()">
                                    <i class="fa fa-key" aria-hidden="true"></i> Đổi mật khẩu
                                </a>
                                <app-text-change-pass [userInfo]="user"></app-text-change-pass>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="logout()">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>

<!-- modal my info  -->
<div class="modal fade" id="modalMyInfo" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin cá nhân</h4>
            </div>
            <form class="form-horizontal" action="">
                <div class="modal-body" style="padding-right: 60px;">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="userName">Tên hiển thị:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="userName" placeholder="" name="userName" [(ngModel)]="user.userName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fullName">Họ và tên:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fullName" placeholder="" name="fullName" [(ngModel)]="userDetails.fullName">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-sm-4" for="email">Email:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="email" placeholder="" name="email" [(ngModel)]= "user.email" >
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="job">Nghề nghiệp:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="job" placeholder="" name="job" [(ngModel)]="userDetails.job">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="phone">Phone:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="phone" placeholder="" name="phone" [(ngModel)]="userDetails.phoneNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="address">Địa chỉ:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="address" placeholder="" name="address" [(ngModel)]="userDetails.address">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (click)="saveUserInfo()">&nbsp;
                        <i class="fa fa-check" aria-hidden="true"></i> Lưu&nbsp;</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div id="" class="container">
    <div class="col-xs-12 col-sm-3 col-md-3 profile-side">
        <div class="profile-img">
            <ngx-avatar size="261" cornerRadius="4" [round]="false" name={{userDetails.fullName}}></ngx-avatar>
        </div>

        <div class="level-info">
            <h5>
                <b>{{userDetails.fullName}}</b>
            </h5>
            <h5>
                <b>Email:</b> {{user.email}}</h5>
            <h5>
                <b>Job:</b> {{userDetails.job}}</h5>
            <h5>
                <b>Phone:</b> {{userDetails.phoneNumber}}</h5>
            <div>
                <i class="fa fa-mars fa-2x" [ngStyle]="{'color': userDetails.gender == '1' ? '#308DB5' : 'gray','font-weight':userDetails.gender == '1' ? 'bold' :''}"></i>
                <i class="fa fa-venus fa-2x" [ngStyle]="{'color': userDetails.gender == '2' ? '#FF1654' : 'gray','font-weight':userDetails.gender == '2' ? 'bold' :''}"></i>
            </div>
            <!-- <h5>Credit : {{user.credit}}</h5> -->
            <b>Credit:</b>
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="user.credit">
                </div>
            </div>
            <!-- <h5>Point : {{user.point}}</h5> -->
            <b>Point:</b>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100" [style.width.%]="user.point">
                </div>
            </div>
        </div>
        <div class="btn-tour">
            <a href="javascript:void(0)" class="btn-create-tour" routerLink="overview">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Thông Tin Tài Khoản
            </a>
        </div>
        <div class="btn-post">
            <a href="javascript:void(0)" class="btn-create-post" routerLink="createPost/0">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tạo bài mới
            </a>
        </div>

        <!-- <div class="calendar">
            <script src="js/calendar.js"></script>
        </div> -->
    </div>
    <router-outlet></router-outlet>
</div>
<div style="height: 300px; width: 100%;"></div>
<!-- Begin: Footer -->
<footer>
    <div class="container-fruid text-center f-social">
        <a href="" class="btn-fb">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-gplus">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>

    

    <div class="container-fruid f-info">
        <div class="container">
            <div class="col-md-6">
                ©2017 TripNet - Mạng chia sẽ kinh nghiệm du lịch
            </div>
            <div class="col-md-6 text-right">
                <a href="">Điều khoản sự dụng </a>
                <a href="">Cookies </a>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</footer>