<section id="cover" style="background-image: url(/assets/img/forgot_pasword.jpg);">
  <div class="overlay"></div>
  <div class="middle">
      <div class="login-panel">
          <div class="logo"><a href=""> TRIPNET </a></div>
          <h3>Khôi phục mật khẩu</h3>
          <form>
              <table>
                  <tr>
                      <td>
                          <input type="text" name="" class="input-text" placeholder="Nhập email đã đăng ký">
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="submit" name="" class="btn-login" value="Tiếp tục">
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <p>
                              Có sẵn tài khoản?
                              <a routerLink="/login">Đăng nhập!</a>
                          </p>
                      </td>
                  </tr>
              </table>
          </form>
      </div>
  </div>
</section>


<footer>
  <p>
      <a href="">Điều khoản sự dụng</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ©2017 Trip Net
  </p>
</footer>