<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
          <div class="overlay"></div>
          <div class="middle">
              <div class="login-panel">
                  <div class="logo"><a href=""> LOGO </a></div>
                  <h3>Đăng nhập</h3>
                  <form (ngSubmit)="onSubmit()" class="ui form" [hidden]="loginService.checkLogin()">
                      <table>
                          <tr>
                              <td>
                                  <input type="text" name="email" class="input-text" placeholder="Nhập email"  [(ngModel)]="model.email">
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <input type="password" name="password" class="input-text" placeholder="Nhập mật khẩu" [(ngModel)]="model.password">
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <button type="submit" class="ui button">Đăng Nhập</button>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <p>
                                      Không có tài khoản? 
                                      <a href="register.html">Tạo tài khoản!</a>
                                  </p>
                                  <p>
                                      <a href="forgotPassword.html">Quên mật khẩu?</a>
                                  </p>
                              </td>
                          </tr>
                      </table>
                  </form>
              </div>
          </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div> -->
    <div [hidden]="!loginService.checkLogin()">
        <h3>Logged In Successfully! </h3>
        <h2>Welcome back, {{currentUserName}}!</h2>
      </div>
  </ng-template>
  
  <a class="page-scroll" (click)="open(content)">Login</a>