
    <!-- RIGHT SIDE -->
    <div class="col-xs-12 col-sm-9 col-md-9 create-post">
        <div class="title-post">
            <span>T</span>ạo nhóm
        </div>

        <div class="text-left h">
            <h2>Tạo nhóm mới</h2>
        </div>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Tên hành trình
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" name="title" placeholder="Tên hành trình..." [(ngModel)]="groupTour.title"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Mô tả ngắn về chuyến đi
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" name="description" placeholder="Mô tả ngắn về chuyến đi..." [(ngModel)]="groupTour.descriptionTourPost"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Thông tin tóm tắt
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Điểm xuất phát" name="startLocation" [(ngModel)]="groupTour.startLocation">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Điểm dừng" name="endLocation" [(ngModel)]="groupTour.endLocation">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select class="form-control" name="category" style="padding: 6px 7px;">
                                        <option value="">Chọn thể loại</option>
                                        <option value="">Leo núi</option>
                                        <option value="">Văn hóa</option>
                                        <option value="">Tâm linh</option>
                                    </select>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Khác..." name="" [(ngModel)]="groupTour.Other">
                                </div> -->
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Thời gian chuyến đi" name="du-time" [(ngModel)]="groupTour.duration">
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" placeholder="Thời gian xuất phát" name="start-time" [(ngModel)]="groupTour.startTime">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Chuẩn bị
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" name="setup" placeholder="Chuẩn bị..." [(ngModel)]="groupTour.prepare"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default tour-details">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            Hành trình chi tiết
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="">
                            <button type="button" class="btn btn-warning" (click)="linkRefShow = !linkRefShow" style="margin-right: 5px;">Dẫn link tham khảo</button>
                            <button type="button" class="btn btn-info" routerLink="/main/profile/createPost/0">Viết hành trình mới</button>
                        </div>

                        <div id="linkRef" [hidden] = "!linkRefShow">
                            <h4 style="margin-bottom: 10px;">Nhập link tham khảo:</h4>
                            <form class="form-horizontal" action="">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" placeholder="Dán link tham khảo tại đây" name="linkRef" [(ngModel)]="groupTour.referenceLink">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            Lưu ý
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal" action="">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="3" name="noti" placeholder="Lưu ý..." [(ngModel)]="groupTour.note"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="btn-function text-right">
            <button type="button" class="btn btn-primary" (click)="showGroupTour()">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>Đăng bài</button>
            <button type="button" class="btn btn-warning">
                <i class="fa fa-eye" aria-hidden="true"></i>Xem trước</button>
            <button type="button" class="btn btn-danger">
                <i class="fa fa-times" aria-hidden="true"></i>Hủy</button>
        </div>
    </div>
<!-- </div> -->

<!-- <div style="height: 100px; width: 100%;">
</div> -->

<!-- Begin: Footer -->
<!-- <footer>
    <div class="container-fruid text-center f-social">
        <a href="" class="btn-fb">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-gplus">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>

    <div class="container-fruid f-info">
        <div class="container">
            <div class="col-md-6">
                ©2017 TripNet - Mạng chia sẽ kinh nghiệm du lịch
            </div>
            <div class="col-md-6 text-right">
                <a href="">Điều khoản sự dụng </a>
                <a href="">Cookies </a>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</footer> -->
<!-- End: Footer -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function showLinkRef() {
        document.getElementById("linkRef").style.display = "block";
        document.getElementById("btn-add").style.display = "none";
        document.getElementById("timeline-content").style.display = "none";
    }

    function showTimeLine() {
        document.getElementById("linkRef").style.display = "none";
        document.getElementById("btn-add").style.display = "block";
        document.getElementById("timeline-content").style.display = "block";
    }
</script>