<div id="myContent" [ngStyle]="{'margin-right' : statusComment == false || statusReport == false ? '400px' : '0px' }">
    <div id="cover" style="background-image: url(/assets/img/list-result.jpg);">
        <div class="header-topbar">
            <div class="container">
                <ul class="pull-left">
                    <li>
                        <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                            <i class="fa fa-phone" aria-hidden="true"></i> +024 236 255
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <ul class="pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu top-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> English
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Vietnamese
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><span class="rot">|</span></li>
                    <li>
                        <a href="">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> Giúp đỡ
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <nav id="mainNav" class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                            </button>
                    <a class="navbar-brand page-scroll" href="index.html" style="letter-spacing: 2px; color: #00d26c;">TRIPNET</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="index.html">
                                <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                            </a>
                        </li>
                        <li>
                            <a class="page-scroll" routerLink="/login" href="#" *ngIf="!checkLogin">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> ĐĂNG NHẬP
                            </a>
                        </li>
                        <li>
                            <a class="page-scroll" routerLink="/register" href="#" *ngIf="!checkLogin">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> ĐĂNG KÍ
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="checkLogin">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.userName | uppercase}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu main-menu">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#modalMyInfo" (click)="nagivateProfile()" *ngIf="checkLogin">
                                        <i class="fa fa-user" aria-hidden="true"></i> TRANG CÁ NHÂN
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" (click)="logout()" *ngIf="checkLogin">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> ĐĂNG XUẤT
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </div>

    <div id="" class="container">
        <div class="col-xs-12 col-sm-8 col-md-8 view-text">
            <div class="brand">
                <span>B</span>ài viết
            </div>

            <h3 style="margin: 11px 0 30px -1px;">Nội dung bài viết: </h3>

            <div class="title">
                <h2>{{tourPost.tourArticleTitle}}</h2>
                <p>{{tourPost.description}}
                </p>
            </div>

            <div class="text-content">

                <div class="setup">
                    <label>Chuẩn bị</label>
                    <p>
                        {{tourPost.prepare}}
                    </p>
                </div>

                <hr>
                <div class="day" *ngFor="let tourDetail of tourByDayDetail ; let i = index;">
                    <label>Ngày {{i+1}}</label>
                    <div class="start-end">
                        <p>
                            <strong>Xuất phát - điểm đến:</strong> {{tourDetail.placeID}} - {{tourDetail.placeDetail}}
                        </p>
                    </div>
                    <div class="stay">
                        <p>
                            <strong>Nơi nghỉ:</strong> {{tourDetail.hotel}}
                        </p>
                    </div>
                    <div class="food">
                        <p>
                            <strong>Đồ ăn:</strong> {{tourDetail.food}}
                        </p>
                    </div>
                    <div class="move">
                        <p>
                            <strong>Phương tiện di chuyển:</strong> <i class="fa fa-motorcycle " aria-hidden="true " *ngIf="tourDetail.vehicle.motorcycle"></i>
                            <i class="fa fa-taxi " aria-hidden="true " *ngIf="tourDetail.vehicle.taxi"></i>
                            <i class="fa fa-bus " aria-hidden="true " *ngIf="tourDetail.vehicle.bus"></i>
                        </p>
                    </div>
                    <div class="move">
                        <p>
                            <strong>Mô tả:</strong> {{tourDetail.description}}
                        </p>
                    </div>
                    <hr>
                </div>
                <hr>
                <div class="noti">
                    <label>Lưu ý</label>
                    <p>
                        Đoạn km15 cẩn thận có đinh tặc<br>Khu abc có nan cướp giật <br>Đi qua đèo tầm chiều tối có rất nhiều sương mù
                    </p>
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 function-box">
            <i class="fa fa-paw" aria-hidden="true"></i>
            <div class="box text-left">

                <div class="btn-timeline">
                    <div class="arrowLine">
                        <a href="javascript:void(0)" routerLink="/main/tourpost/{{tourPost.id}}" class="btn-t">Xem ở chế độ dòng thời gian </a>
                    </div>
                    <div class="triangle_left"></div>
                </div>

                <div class="cl-fix"></div>

                <div class="function-icon">
                    <a href="javascript:void(0)" class="btn-view" data-toggle="tooltip" data-placement="top" title="Lượt xem">
                        <i class="fa fa-eye cl" aria-hidden="true"></i>
                    </a>
                    <span class="cl-view">{{tourPost.postViewNumber}}</span>
                </div>

                <div class="function-icon">
                    <a href="javascript:void(0)" class="btn-like" data-toggle="tooltip" data-placement="top" title="Thích" (click)=likeTourPost()>
                        <!-- <i class="fa fa-heart cl" aria-hidden="true "></i> -->
                        <i class="fa fa-heart-o cl" aria-hidden="true" [ngStyle]="{'color': liked  ? 'red': 'blue'}"></i>
                    </a>
                    <span class="cl-like">{{tourPost.countLike}}</span>
                </div>

                <div class="function-icon">
                    <a href="javascript:void(0)" (click)="openCloseCmt()" class="btn-comment" data-toggle="tooltip" data-placement="top" title="Bình luận">
                        <!-- <i class="fa fa-comment cl" aria-hidden="true "></i> -->
                        <i class="fa fa-comment-o cl" aria-hidden="true"></i>
                    </a>
                    <span class="cl-comment">{{tourPost.countComment}}</span>
                </div>

                <div class="function-icon">
                    <a href="javascript:void(0)" (click)="openCloseReport()" class="btn-report" data-toggle="tooltip" data-placement="top" title="Tố cáo">
                        <!-- <i class="fa fa-flag cl" aria-hidden="true"></i> -->
                        <i class="fa fa-flag-o cl" aria-hidden="true" [ngStyle]="{'color': reported ? 'red': 'blue'}"></i>
                    </a>
                    <span class="cl-report">{{tourPost.countReport}}</span>
                </div>

                <div class="function-icon">
                    <a href="javascript:void(0)" (click)="bookMark(tourPost)" class="btn-save" data-toggle="tooltip" data-placement="top" title="{{ bookMarked ? 'Bỏ Lưu' : 'Lưu Bài Viết'}}">
                        <i class="fa fa-link cl" aria-hidden="true"></i>
                    </a>
                    <span class="cl-save"><i class="fa fa-check" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- End: Timeline -->
    <div id="comment" class="comment" [ngStyle]="{'width' : statusComment == false ? '450px' : '0px'}">
        <header>
            <h5>Bình luận </h5>
            <a href="javascript:void(0)" class="closebtn" (click)="openCloseCmt()">&times;</a>
        </header>
        <main>
            <!-- Left-aligned media object -->
            <div class="media" *ngFor="let item of listComment ; let i = index;">
                <div class="media-left">
                    <img src="/assets/img/default-user-image.png" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h5 class="media-heading">{{item.userName | uppercase}}</h5>
                    <p>{{item.content}}</p>
                </div>
            </div>
            <hr>
        </main>
        <div class="write-comment">
            <!-- <form class="form-horizontal" action=""> -->
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="3" id="comment" placeholder="Bình luận của bạn..." name="comment" [(ngModel)]="comment"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-submit" (click)="sendComment()">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Gửi bình luận
                        </button>
                    <button class="btn btn-close" (click)="openCloseCmt()">
                            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Đóng
                        </button>
                </div>
            </div>
            <!-- </form> -->
        </div>

    </div>

    <!-- Begin: Report -->
    <div id="report" class="report" [ngStyle]="{'width' : statusReport == false ? '450px' : '0px'}">
        <header>
            <h5>Tố cáo bài viết</h5>
            <a href="javascript:void(0)" class="closebtn" onclick="closeReport()">&times;</a>
        </header>
        <main>
            <h4>Lý do:</h4>
            <form class="form-horizontal" action="">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox" *ngFor="let option of options">
                            <label>
                                    <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="listCheckbox[option.value]"> {{option.name}}
                                </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="margin-top: 20px;">
                        <textarea class="form-control" rows="3" name="other" placeholder="Lý do khác..." [(ngModel)]="listCheckbox.other"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right" style="margin-top: 5px;">
                        <button (click)="submitReport()" class="btn btn-submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Xác nhận
                            </button>
                        <a href="javascript:void(0)" class="btn btn-default" (click)="openCloseReport()">
                            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Đóng
                        </a>
                    </div>
                </div>
            </form>
        </main>
    </div>

    <!-- Begin: Footer -->
    <footer>
        <div class="container-fruid text-center f-social">
            <a href="" class="btn-fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="" class="btn-gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="" class="btn-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>

        <div class="container-fruid f-info">
            <div class="container">
                <div class="col-md-6">
                    ©2017 TripNet - Mạng chia sẽ kinh nghiệm du lịch
                </div>
                <div class="col-md-6 text-center">
                    <a href="">Điều khoản sự dụng </a>
                    <a href="">Cookies </a>
                </div>
                <div class="clear-fix"></div>
            </div>
        </div>
    </footer>
    <!-- End: Footer -->
</div>