<section id="cover" style="background-image: url(../../assets/img/register.jpg);">
  <div class="overlay"></div>
  <div class="middle">
    <div class="login-panel">
      <div class="logo">
        <a href=""> TRIPNET </a>
      </div>
      <h3>Đăng ký tài khoản</h3>
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <table>
          <tr>
            <td>
              <input type="text" name="userName" class="form-control" placeholder="Nhập tên hiển thị" [(ngModel)]="model.userName" #userName="ngModel"
                required minlength="6" maxlength="20">
              <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                <!-- <div [hidden]="!userName.hasError('required')">Tên hiển thị được yêu cầu (Tối thiểu 6 kí tự)</div> -->
                Tên hiển thị được yêu cầu (Tối thiểu 6 kí tự)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="email" class="form-control" placeholder="Nhập email" [(ngModel)]="model.email" #mail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required>
              <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
                <div [hidden]="!mail.hasError('required')">Email được yêu cầu</div>
                <div [hidden]="!mail.hasError('pattern')">Email không hợp lệ.
                  <small>
                    <b>tripnet@abc.com</b>
                  </small>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu" [(ngModel)]="model.password" #password="ngModel"
                required>
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Mật khẩu được yêu cầu
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" name="password1" class="form-control" placeholder="Nhập lại mật khẩu" [(ngModel)]="model.password1"
                #password1="ngModel" validateEqual="password" required>
              <div [hidden]="password1.valid || password1.pristine" class="alert alert-danger">
                Mật khẩu không khớp
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <button [disabled]="!f.form.valid" [disabled]="loading" class="btn-login">Đăng ký tài khoản</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
            </td>
          </tr>
          <tr>
            <td>
              <span>
                Chọn
                <b>Đăng ký tài khoản</b> có nghĩa là bạn đồng ý với
                <a href="">Thỏa thuận Dịch vụ của TRIPNET</a>
              </span>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</section>

<!-- <footer>
  <p>
    <a href="">Điều khoản sự dụng</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ©2017 Trip Net
  </p>
</footer> -->