<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dash-box dash-box-color-1">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">{{numUsers}}</span>
                    <span class="dash-box-title">NGƯỜI DÙNG</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-2">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">{{numPosts}}</span>
                    <span class="dash-box-title">BÀI VIẾT</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-5">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-road"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">{{numTours}}</span>
                    <span class="dash-box-title">CHUYẾN ĐI</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-3">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">15</span>
                    <span class="dash-box-title">BÌNH LUẬN</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-4">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">30</span>
                    <span class="dash-box-title">Lượt thích</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dash-box dash-box-color-6">
                <div class="dash-box-icon">
                    <i class="glyphicon glyphicon-share"></i>
                </div>
                <div class="dash-box-body">
                    <span class="dash-box-count">3</span>
                    <span class="dash-box-title">Lượng Báo Cáo</span>
                </div>

                <div class="dash-box-action">
                    <button>More Info</button>
                </div>
            </div>
        </div>
    </div>
</div>