<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="dash-box dash-box-color-1">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-user"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">8,252</span>
					<span class="dash-box-title">Người Dùng</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-2">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-pencil"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">100</span>
					<span class="dash-box-title">Bài Viết</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-3">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-comment"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">2502</span>
					<span class="dash-box-title">Bình Luận</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-4">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-thumbs-up"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">15203</span>
					<span class="dash-box-title">Lượt Thích</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-5">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-share"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">25602</span>
					<span class="dash-box-title">Lượt Chia Sẻ</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
	</div>
</div>