<app-menu-top></app-menu-top>
<app-section-cover></app-section-cover>
<app-section-search></app-section-search>
<app-section-about></app-section-about>
<app-section-prominent-place></app-section-prominent-place>
<app-section-place></app-section-place>
<app-section-contact></app-section-contact>

<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            Copyright 2017 - TRIP NET
        </div>
    </div>
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
</footer>