<div id="cover" style="background-image: url(../assets/img/list-result.jpg);">
    <div class="header-topbar">
        <div class="container">
            <ul class="pull-left">
                <li>
                    <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                        <i class="fa fa-phone" aria-hidden="true"></i> +024 236 255
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu top-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> English
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> Vietnamese
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="rot">|</span>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Giúp đỡ
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html" style="letter-spacing: 2px; color: #00d26c;">TRIPNET</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> Đinh Tuấn Anh
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu main-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user" aria-hidden="true"></i> Trang cá nhân
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="" class="container">
    <div class="col-xs-12 col-sm-8 col-md-8 list-result">
        <div class="brand">
            <span>D</span>anh sách bài viết
        </div>
        <h3 style="margin-top: 18px;">Tất cả bài viết: </h3>
        <hr>
        <div class="media">
            <div class="media-left">
                <img src="img/default-user-image.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Mộc châu - mùa nắng vàng</h4>
                <p>Swift là một trong những dòng laptop đầu tiên được Acer nâng cấp với vi xử lý Kaby Lake, cụ thể là các phiên
                    bản Core i đầu 8, dòng ULV nhưng được cải tiến với 4 nhân, 8 luồng hứa hẹn mang lại hiệu năng tốt hơn
                    so với các thế hệ trước.
                </p>
                <div class="f-size">
                    <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> 1225
                    <i class="fa fa-heart " aria-hidden="true"></i> 550
                    <i class="fa fa-comment " aria-hidden="true"></i> 440
                    <i class="fa fa-flag" aria-hidden="true"></i> 0
                </div>
            </div>
        </div>
        <hr>
        <div class="media">
            <div class="media-left">
                <img src="img/default-user-image.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Mộc châu - mùa nắng vàng</h4>
                <p>Swift là một trong những dòng laptop đầu tiên được Acer nâng cấp với vi xử lý Kaby Lake Refresh, cụ thể là
                    các phiên bản Core i đầu 8, dòng ULV nhưng được cải tiến với 4 nhân, 8 luồng hứa hẹn mang lại hiệu năng
                    tốt hơn so với các thế hệ trước.
                </p>
                <div class="f-size">
                    <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> 1225
                    <i class="fa fa-heart " aria-hidden="true"></i> 550
                    <i class="fa fa-comment " aria-hidden="true"></i> 440
                    <i class="fa fa-flag" aria-hidden="true"></i> 0
                </div>
            </div>
        </div>
        <hr>
        <div class="media">
            <div class="media-left">
                <img src="img/default-user-image.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Mộc châu - mùa nắng vàng</h4>
                <p>Swift là một trong những dòng laptop đầu tiên được Acer nâng cấp với vi xử lý Kaby Lake Refresh, cụ thể là
                    các phiên bản Core i đầu 8, dòng ULV nhưng được cải tiến với 4 nhân, 8 luồng hứa hẹn mang lại hiệu năng
                    tốt hơn so với các thế hệ trước.
                </p>
                <div class="f-size">
                    <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> 1225
                    <i class="fa fa-heart " aria-hidden="true"></i> 550
                    <i class="fa fa-comment " aria-hidden="true"></i> 440
                    <i class="fa fa-flag" aria-hidden="true"></i> 0
                </div>
            </div>
        </div>
        <hr>
        <div class="media">
            <div class="media-left">
                <img src="img/default-user-image.png" class="media-object" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Mộc châu - mùa nắng vàng</h4>
                <p>Swift là một trong những dòng laptop đầu tiên được Acer nâng cấp với vi xử lý Kaby Lake Refresh, cụ thể là
                    các phiên bản Core i đầu 8, dòng ULV nhưng được cải tiến với 4 nhân, 8 luồng hứa hẹn mang lại hiệu năng
                    tốt hơn so với các thế hệ trước.
                </p>
                <div class="f-size">
                    <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> 1225
                    <i class="fa fa-heart " aria-hidden="true"></i> 550
                    <i class="fa fa-comment " aria-hidden="true"></i> 440
                    <i class="fa fa-flag" aria-hidden="true"></i> 0
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 search-box">
        <i class="fa fa-wpexplorer" aria-hidden="true"></i>
        <div class="box">
            <h4>Tìm kiếm</h4>
            <div class="box-content">
                <div class="form-g">
                    <label>Loại tìm kiếm:</label>
                    <div class="input">
                        <select class="input-text">
                            <option>Bài đăng</option>
                            <option>Chuyến đi</option>
                            <option>Địa điểm</option>
                            <option>Thể loại</option>
                            <option>Ngày</option>
                        </select>
                    </div>
                </div>
                <div class="form-g">
                    <label>Từ khóa tìm kiếm:</label>
                    <div class="input">
                        <input type="text" class="input-text" name="typeSearch" placeholder="Nhập từ khóa">
                    </div>
                </div>
                <div class="form-g">
                    <div class="input text-center">
                        <!-- <input type="submit" class="btn-search" name="btnSearch" value="Tìm kiếm"> -->
                        <a class="btn btn-search" routerLink="/main/search" href="#">
                            <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- Begin: Footer -->
<footer>
    <div class="container-fruid text-center f-social">
        <a href="" class="btn-fb">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-gplus">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
    <div class="container-fruid f-info">
        <div class="container">
            <div class="col-md-6">
                ©2017 TripNet - Mạng chia sẽ kinh nghiệm du lịch
            </div>
            <div class="col-md-6 text-right">
                <a href="">Điều khoản sự dụng </a>
                <a href="">Cookies </a>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</footer>
<!-- End: Footer -->