<div id="cover" style="background-image: url(../assets/img/tour-result.jpg);">
    <div class="header-topbar">
        <div class="container">
            <ul class="pull-left">
                <li>
                    <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                        <i class="fa fa-phone" aria-hidden="true"></i> +024 236 255
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <ul class="pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu top-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> English
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right" aria-hidden="true"></i> Vietnamese
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="rot">|</span>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Giúp đỡ
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav id="mainNav" class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html" style="letter-spacing: 2px; color: #00d26c;">TRIPNET</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="index.html">
                            <i class="fa fa-home" aria-hidden="true"></i> Trang chủ
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" routerLink="/login" href="#" *ngIf="user == null">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> ĐĂNG NHẬP
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" routerLink="/register" href="#" *ngIf="user == null">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> ĐĂNG KÍ
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="user && user.userName">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.userName | uppercase}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu main-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#modalMyInfo" (click)="nagivateProfile()" *ngIf="user && user.userName">
                                    <i class="fa fa-user" aria-hidden="true"></i> TRANG CÁ NHÂN
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" (click)="logout()" *ngIf="user && user.userName">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> ĐĂNG XUẤT
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</div>

<div id="">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 list-title">
            <div class="brand">
                <span>T</span>ìm kiếm
            </div>
        </div>
    </div>

    <div class="search-box">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 p-padding">
                <div class="box">
                    <div class="box-content">

                        <div class="form-g">
                            <label>Loại tìm kiếm:</label>
                            <div class="input">
                                <select class="input-text" [(ngModel)]="typeSearch">
                                    <option value = "1">Tiêu đề</option>
                                    <option value = "2">Địa điểm</option>
                                    <option value = "3">Thể loại</option>
                                    <option value = "4">Ngày</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 p-padding">
                <div class="box">
                    <div class="box-content">
                        <div class="form-g">
                            <label>Từ khóa tìm kiếm:</label>
                            <div class="input">
                                <input type="text" class="input-text" name="textSearch" placeholder="Nhập từ khóa" [(ngModel)]="textSearch" (keyup.enter)="searchByType()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box-content">
                    <div class="form-g">
                        <div class="input text-center">
                            <input type="submit" class="btn-search" name="btnSearch" value="Tìm kiếm" (click)="searchByType()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 list-result">

            <h3 style="margin-top: 18px;">Danh sách bài viết: </h3>

            <hr>
            <div class="media" *ngFor="let item of listResultTourPost;">
                <div class="media-left">
                    <img [src]="baseFolder + item.image" class="media-object" style="width:80px; height: 80px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="javascript:void(0)" routerLink="/main/tourpost/{{item.id}}">{{item.tourArticleTitle}}</a>
                    </h4>
                    <p>{{item.description}}</p>
                    <div class="f-size">
                        <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> {{item.postViewNumber}}
                        <i class="fa fa-heart " aria-hidden="true"></i> {{item.countLike}}
                        <i class="fa fa-comment " aria-hidden="true"></i> {{item.countComment}}
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> 0 -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-56 list-result">

            <h3 style="margin-top: 18px;">Danh sách chuyến đi: </h3>

            <hr>
            <div class="media" *ngFor="let item of listResultGroupTour;">
                <div class="media-left">
                    <img [src]="baseFolder + item.image" class="media-object" style="width:80px; height: 80px;">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a routerLink="/main/grouptour/{{item.id}}" href="javascript:void(0)">{{item.tourArticleTitle}}</a>
                    </h4>
                    <p>{{item.description}}</p>
                    <div class="f-size">
                        <i class="fa fa-eye " aria-hidden="true" style="font-size: 17px; margin-left: 0;"></i> {{item.postViewNumber}}
                        <i class="fa fa-users " aria-hidden="true"></i> {{item.countMember}}
                        <i class="fa fa-comment " aria-hidden="true"></i> {{item.countComment}}
                        <!-- <i class="fa fa-flag" aria-hidden="true"></i> 0 -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Begin: Footer -->
        <footer>
            <div class="container-fruid text-center f-social">
                <a href="" class="btn-fb">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="" class="btn-gplus">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="" class="btn-instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>

            <div class="container-fruid f-info">
                <div class="container">
                    <div class="col-md-6">
                        ©2017 TripNet - Mạng chia sẽ kinh nghiệm du lịch
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="">Điều khoản sự dụng </a>
                        <a href="">Cookies </a>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </footer>
        <!-- End: Footer -->