/* You can add global styles to this file, and also import other style files */
/*========================== STYLE ============================*/

html,
body {
  height: 100%;
  font-family: BaiSau;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/*=========================== FOOTER =============================*/

footer {
  padding: 50px !important;
  background-color: #1a1a1b;
  color: #9a9a9a;
}


/*======================== SCROLL TO TOP =========================*/

.scrollToTop {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  color: #9c9999;
  text-decoration: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
  border: 1px solid #9c9999;
  font-size: 23px;
  border-radius: 50%;
}

.scrollToTop:hover {
  text-decoration: none;
  border: 1px solid #FFA600;
  color: #fff;
  background-color: #FFA600;
}