@font-face {
  font-family: SourceSansPro;
  src: url(/fonts/SourceSansPro.OTF);
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  color: #262626;
  text-align: left;
  font-family: SourceSansPro;
}

#cover {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#cover .middle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

#cover .logo a {
  font-size: 30px;
  letter-spacing: 1px;
  color: rgba(0, 189, 97, 0.8);
  font-style: italic;
}

#cover .logo a:hover {
  text-decoration: none;
}

#cover h3 {
  font-size: 22px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #000;
}

#cover .middle .login-panel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 412px;
  min-height: 380px;
  width: calc(100% - 40px);
  padding: 36px;
  margin-bottom: 28px;
  background-color: #fff;
  border: 1px solid #818c94;
  border: 1px solid rgba(0, 0, 0, .4);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
}

#cover table {
  width: 100%;
}

#cover table tr td {
  padding: 8px 0;
}

#cover table tr td .input-text {
  width: 100%;
  height: 36px;
  outline: none;
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid rgba(0, 0, 0, .6);
}

#cover table tr td .input-text:focus {
  border: 1px solid #0067b8;
}

#cover table tr td .btn-login {
  width: 100%;
  height: 36px;
  color: #fff;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #0067b8;
  background-color: #0067b8;
}

#cover table tr td .btn-login:hover {
  background-color: #005BA1;
  border: 1px solid #005BA1;
}

#cover table tr td p a {
  color: #107FD4;
}

#cover table tr td p a:hover {
  color: #005BA1;
  text-decoration: none;
}

#cover table tr td span {
  font-size: 13px;
}

#cover table tr td span a {
  color: #107FD4;
}

#cover table tr td span a:hover {
  color: #005BA1;
  text-decoration: none;
}

#cover table tr td span a:focus {
  text-decoration: none !important;
  outline: none;
}


/*=========================== FOOTER =============================*/

footer {
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

footer p {
  margin: 6px 15px;
  text-align: right;
  color: rgb(211, 211, 211);
  font-size: 12px;
}

footer p a {
  color: #B6B6B6;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
}

footer p a:focus {
  outline: none;
  text-decoration: none;
  color: #B6B6B6;
}


/*======================== SCROLL TO TOP =========================*/