<div class="panel panel-primary">
    <div class="panel-heading">DANH SÁCH BÁO CÁO </div>
    <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 5%">
                    <mfDefaultSorter by="name">ID</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="userName">TITLE POST</mfDefaultSorter>
                </th>
                <th style="width: 40%">
                    <mfDefaultSorter by="email">DESCRIPTION</mfDefaultSorter>
                </th>
                <th style="width: 30%">
                    <mfDefaultSorter by="address">NUMBER REPORT</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter>ACTION</mfDefaultSorter>
                </th>
            </tr>
            <!-- <tr>
                <th colspan="10">
                    SEARCH USER
                    <input class="form-control" [(ngModel)]="filterQuery" />
                </th>
            </tr> -->
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.id}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="showChildModal(item.id)">
                        {{item.tourArticleTitle}}
                    </a>
                </td>
                <td>{{item.description}}</td>
                <td>{{item.number}}</td>
                <td>
                    <button class="btn {{item.checkBan ? 'btn-danger' : 'btn-success'}}" (click)="acceptReport(item)">
                        <i class="fa fa-pencil-trash-o" aria-hidden="true"></i> {{item.checkBan ? 'REJECT' : 'ACCEPTION'}}
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Report Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>

            <div class="modal-body">
                <div>
                    <table style="width:100%" class="table table-hover">
                        <tr>
                            <th>Reported By</th>
                            <th>Reason</th>
                            <th>Description</th>
                        </tr>
                        <tr *ngFor="let item of dataDetail">
                            <td>{{item.reportedBy}}</td>
                            <td>{{item.reasonReport}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>