<div class="logo"><a href=""> LOGO </a></div>
<div mat-dialog-content>
  <p>Đăng Nhập</p>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
      <input matInput tabindex="1" [(ngModel)]="data.password" placeholder="Password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div>