<!-- <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="letter-spacing: 2px;">TripNET</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#prominent-place">Prominent Place</a>
                </li>
                <li>
                    <a class="page-scroll" href="#place">Top Place</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <app-dialog-login-button ></app-dialog-login-button>
                    <ul class="nav navbar-nav navbar-right" >
                        <li class="" >
                          <a  href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img [src]="baseFolder + user.avatar" alt="">{{userName}}
                                <span class=" fa fa-angle-down"></span>
                              </a>
                          <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li style="background-color:black!important"><a href="javascript:;"> Hồ sơ</a></li>
                            <li style="background-color:black!important">
                              <a href="javascript:;">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Cài đặt</span>
                                  </a>
                            </li>
                            <li style="background-color:black!important"><a href="javascript:;">Trợ giúp</a></li>
                            <li style="background-color:black!important"><a href="javascript:;" (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Thoát</a></li>
                          </ul>
                        </li>

                      </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<!-- <div class="top_nav">
    <div class="nav_menu">
      <nav class="" role="navigation">
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
  
        
      </nav>
    </div>
  </div> -->


  <!-- <div class="header-topbar">
    <div class="container">
        <ul class="pull-left">
            <li>
                <a href="#" style="border-right: 1px solid rgba(255, 255, 255, 0.3);">
                    <i class="fa fa-phone" aria-hidden="true"></i> +024 236 255
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <ul class="pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-globe" aria-hidden="true"></i> Ngôn ngữ
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-right" aria-hidden="true"></i> English
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-angle-right" aria-hidden="true"></i> Vietnamese
                        </a>
                    </li>
                </ul>
            </li>
            <li><span class="rot">|</span></li>
            <li>
                <a href="register.html">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng ký
                </a>
            </li>
            <li><span class="rot">|</span></li>
            <li>
                <a href="login.html">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                </a>
            </li>
        </ul>
    </div>
</div> -->
